.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: aqua;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  /* margin-left: 20px; */
  padding: 10px 15px;
  background-color: #1667be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

span {
  color: red;
  font-size: 0.9em;
}
